body{
    font-family: 'microsoft yahei', 华文细黑, Verdana, Arial, Helvetica, sans-serif;
}
.menu-icon{
    font-size: 1.5em;
}
.active-item{
    background-color:blue;
}
.foot-slide{
    opacity: 0.9;
}
.small-title{
    font-size: small;
}
textarea {
    resize: none;
    font-size: 100%;
    vertical-align: middle;
    outline: 0;
}
.txtaeara {
    border-radius: 0;
    width: 100%;
    height: 60px;
    color: #cbcbcb;
    font-size: 12px;
    padding: 8px;
    line-height: 18px;
    border: 1px solid #f2f2f2;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.texteara::after {
    position: absolute;
    width: 17px;
    height: 10px;
    top: 0;
    right: 16px;
    content: " ";
    background: url("../img/youhuashuo.png") no-repeat;
    background-size: 17px 10px;
}
.youhuashuo{
    color: red;
    font-size: small;
}
.ipt-cancel {
    color: #343142;
    font-size: 14px;
    border: 1px solid #a5a5a5;
    background: #fff;
    width: 85px;
    height: 30px;
    line-height: 28px;
    -webkit-appearance: none;
    outline: 0;
    border-radius: 0;
}
.ipt-go {
    color: #fff;
    font-size: 14px;
    border: 1px solid #fb453a;
    background: #fb453a;
    width: 85px;
    height: 30px;
    line-height: 28px;
    float: right;
    -webkit-appearance: none;
    outline: 0;
    border-radius: 0;
}
.caseTitle{
    font-size: 15px;
    font-weight: bold;
}
.cmnt_base .cmnt_top {
    padding: 5px 30px 0 5px;
}
.cmnt_base .cmnt_top {
    line-height: 24px;
    font-size: 12px;
    margin: 0 0 2px;
    color: #333;
}
.cmnt_base .cmnt_top span {
    padding-left: 0;
    background: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cmnt_top .cmnt_source {
    display: block;
    color: #999;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cmnt_base .cmnt_top code {
    font-size: 12px;
    color: #8b8b7e;
    top: 7px;
    width: 30px;
    text-align: center;
}
.cmnt_top code {
    font-size: 10px;
    color: #999;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 24px;
    line-height: 24px;
    width: 45px;
    text-align: right;
}
.cmnt_top span:first-child {
    display: block;
    color: #3990e6;
    position: relative;
    padding-left: 38px;
    background: url(../images/all.png) no-repeat;
    background-size: 100px auto;
    background-position: 0 -336px;
}
.cmnt_base {
    clear: both;
    overflow: hidden;
    padding: 0 4px;
    border: 1px solid #e8e8de;
    margin: 4px 0;
    background: #fdfdf6;
}
.cmnt_top {
    clear: both;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #00a0fe;
    margin: 14px 0 -8px -38px;
    position: relative;
}

.cmnt_top span:first-child {
    display: block;
    color: #3990e6;
    position: relative;
    padding-left: 38px;
    background: url(../images/all.png) no-repeat;
    background-size: 100px auto;
    background-position: 0 -336px;
}

.cmnt_top .cmnt_nick {
    display: block;
    height: 20px;
    line-height: 20px;
    font-style: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cmnt_top .cmnt_nick em {
    display: inline-block;
    font-size: 10px;
    color: #aaa;
    margin-left: 4px;
    font-style: normal;
}

.cmnt_text {
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    color: #333;
    padding: 2px 0;
    word-break: break-all;
    word-wrap: break-word;
    margin-top: 2px;
}

.cmnt_op_bottom {
    clear: both;
    font-size: 10px;
    margin-top: 8px;
    margin-bottom: 4px;
    position: relative;
    color: #aaa;
}
.cmnt_op {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 16px;
    line-height: 16px;
    text-align: right;
    overflow: visible;
}
.cmnt_op a.cmntico {
    padding-left: 22px;
    color: #aaa;
    margin-left: 10px;
    background-position: 0 -69px;
    position: relative;
    padding-right: 12px;
}
.cmnt_op a, .cmnt_op_all a {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    line-height: 16px;
}
.cmnt_op a, .cmnt_op_all a {
    background: url(../images/all.png) no-repeat;
    background-size: 100px auto;
    color: #aaa;
}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
.cmnt_item {
    clear: both;
    overflow: hidden;
    padding: 0 0 12px 38px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    margin:1px;
}
.foot_comment {
    height: 48px;
    border-top: 1px solid #cdcdcd;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(249,249,249,.9);
    z-index: 900;
}
.foot_commentcont {
    clear: both;
    padding: 9px 0 9px 20px;
    display: -webkit-box;
    display: box;
}
.foot_cmt_input {
    -webkit-box-flex: 2;
    flex: 2;
    margin: 0;
    height: 28px;
    line-height: 28px;
    background: #fff;
    border: 1px solid #cccccc;
    color: #666;
    border-radius: 2px;
}
.foot_cmt_input p {
    padding: 0 10px;
    font-size: 14px;
}

.cmntarea textarea {
    border: none;
    font-size: 16px;
    height: 80px;
    padding: 5px 10px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.back-top {
    height: 40px;
    width: 60px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    border-radius: 10px 0 0 0;
    z-index: 1000;
    display:none;
    background-color: grey;
}

/*metro*/

.tile-group.two, .tile-group.double {
    width: 320px;
}
.tile-group {
    margin-left: 80px;
    min-width: 80px;
    width: auto;
    float: left;
    display: block;
    padding-top: 40px;
    position: relative;
}
* {
    border-collapse: collapse;
}
.tile-container {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}
.tile-container:before, .tile-container:after {
    display: table;
    content: "";
}
.tile-container:after {
    clear: both;
}
.tile-container:before, .tile-container:after {
    display: table;
    content: "";
}
.fg-white {
    color: #ffffff !important;
}
.bg-teal {
    background: #00aba9 !important;
}
.tile-small, .tile, .tile-square, .tile-wide, .tile-large, .tile-big, .tile-super {
    overflow: visible;
}
.tile {
    width: 150px;
    height: 150px;
    display: block;
    float: left;
    margin: 5px;
    background-color: #eeeeee;
    box-shadow: inset 0 0 1px #FFFFCC;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tile-content:first-child {
    display: block;
}
.tile-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    overflow: hidden;
    display: none;
}
.tile .tile-label {
    position: absolute;
    bottom: 0;
    left: .625rem;
    padding: .425rem .25rem;
    z-index: 999;
}
.tile-content.iconic .icon {
    position: absolute;
    width: 64px;
    height: 64px;
    font-size: 64px;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -32px;
    text-align: center;
}
[class^="mif-"], [class*=" mif-"] {
    display: inline-block;
    font: normal normal normal 1.5em/1;
    font-family: metro, "Segoe UI", "Open Sans", serif;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    vertical-align: middle;
}
.mif-pencil:before {
    content: "\e905";
}
[class^="mif-"]:before, [class*=" mif-"]:before {
    font-family: metro, serif;
}
[class^="mif-"]:before, [class*=" mif-"]:before {
    font-family: metro, serif;
}
.mif-pencil:before {
    content: "\e905";
}
.bg-darkGreen {
    background: #128023 !important;
}
.bg-cyan {
    background: #1ba1e2 !important;
}
.bg-darkBlue {
    background: #16499a !important;
}
.head-img {
    height: 8.18em;
    width: 100%;
    background: url('../img/headbg.png');
    background-size: cover;
    text-align: center;
    color: #FFF;
}
.head-img .my-img {
    width: 3.8125em;
    height: 3.8125em;
    border-radius: 4em;
    border: .125em solid #FFF;
    box-shadow: inset 0 1px 8px rgba(0,0,0,0.2);
    margin-top: .5em;
    margin-bottom: .25em;
    display: inline-block;
    overflow: hidden;
    background-size: cover;
}
.head-img p {
    font-size: 1em;
    line-height: 1.5em;
    color:white;
    font-weight: bold;
}

#odlist, #orderstate, #process, #ordertrack, #orderinfo {
    color: #333;
}
#process {
    margin: 0 auto;
    padding: 20px 0 50px 40px;
    border-bottom: 1px solid #eee;
}
.section4 {
    width: 706px;
}
#process .node {
    width: 13px;
}
#process .node, #process .proce {
    float: left;
    position: relative;
    height: 13px;
    background-image: url(../img/bg_state.jpg);
    background-repeat: no-repeat;
}
#process .node {
    width: 13px;
}
.node.ready {
    background-position: -150px 0px;
}
#process .node ul {
    z-index: 1;
    width: 318px;
    margin-left: -155px;
}
#process ul {
    position: absolute;
    margin-top: -38px;
    text-align: center;
}
ol, ul {
    list-style: none;
}
#process .tx1 {
    height: 36px;
    margin-bottom: 16px;
}
#process .wait .tx2 {
    color: #999;
}
#process .tx3 {
    color: #999;
    line-height: 15px;
}
#process .proce {
    width: 85px;
    border: solid #fff;
    border-width: 0 5px;
}
.proce.ready {
    background-position: -75px 0;
}
#process .proce ul {
    z-index: 5;
    width: 150px;
}
.proce.wait {
    background-position: -75px -40px;
}
.node.wait {
    background-position: -150px -40px;
}


/**
案件咨询
*/
.content-stable {
    background: #f8f8f8; }

.scroll {
    padding: 10px 0 50px; }


.messages {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px; }
.messages .message {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    overflow: hidden;
    text-align: left;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.time {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width: 120px;
    text-align: center;
    padding: 0 0 0 0;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: translate3d(10px, 0, 0);
    -moz-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); }
.time.slide-right {
    -webkit-transform: translate3d(130px, 0, 0);
    -moz-transform: translate3d(130px, 0, 0);
    transform: translate3d(130px, 0, 0); }

.messages.other .message {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    text-align: right; }
.messages.other .message.slide-right {
    -webkit-transform: translate3d(120px, 0, 0);
    -moz-transform: translate3d(120px, 0, 0);
    transform: translate3d(120px, 0, 0); }
.messages.other .messagetext {
    color: black;
    background-color: #C7C7CC; }
.messagetext {
    background: #007AFF;
    display: inline-block;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    max-width: 240px; }

/**
websites
**/
.ws-content{
    background:url("../img/nav/tm.png") center center no-repeat;
    -webkit-background-size:36px;
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    left: 9px;
    border-radius: 50%;
}
.wsWrap a{
    font-size: 17px;
    height: 36px;
    display: block;
    overflow: hidden;
    position: relative;
    padding-left: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    color: ##387ef5;
    line-height: 37px;
}
.wsWrap .row{
    height: 50px;
    margin-bottom: 1em;
}

.wsWrap .row,.wsWrap .col{
    padding-left: 0;
}
/**
相关案例
**/
.selectWrap{
    font-size: 1px;

}
.selectWrap .title{
    color: #000;
    font-size: 14px;
    font-weight: bold;
}
.selectWrap .value{
    color: #aaa;
    font-size: 14px;
}
.selectWrap .primarytitle{
    font-size: 16px;
    color: #387ef5;;
}
.selectWrap .selected{
    margin-left: -15px;
}
.selectWrap .selected:before{
    content: "\f120";
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.selectWrap a{
    border-color: #ddd;
}
.pagetitle{
    font-weight: bold;
    font-size: 18px;
}