<ion-view view-title="案件进展"  >
    <ion-nav-buttons side="right">
        <a  class="button button-icon button-clear ion-chatbox-working " id="home-points"   ng-href="#/app/chatforLC/{{lcNo}}"></a>
    </ion-nav-buttons>

    <link href="../css/caselog.css" type="text/css" rel="stylesheet">
    <link href="../css/swipebox.css" type="text/css" rel="stylesheet">


    <ion-content has-bouncing="false">
        <ion-scroll zooming="true" direction="x" >

        <div id="process" class="section4" overflow-scroll="true">

            <div ng-repeat="log in  logStates">
                <div class="node" ng-class="{ready:log.sign==1,wait:log.sign==0}"><ul><li class="tx1">&nbsp;</li><li class="tx2">{{log.name}}</li><li  class="tx3">{{log.date}}</li></ul></div>
                <div class="proce"  ng-class="{ready:log.sign==1,wait:log.sign==0}" ng-show="log.id!=99"><ul><li class="tx1">&nbsp;</li></ul></div>
            </div>

        </div>

            </ion-scroll>
        <div id="wrap">
            <div id="maindata"></div>
            <div class="more" ng-click="loadAllLog()" ng-show="isShowBtn"> 展开全部...</div>
        </div>


    </ion-content>
</ion-view>