<ion-view view-title="案件进展" >
    <ion-nav-buttons side="right">
        <a  class="button button-icon button-clear ion-chatbox-working " id="home-points"   ng-href="#/app/chatforLC/{{lcNo}}"></a>
    </ion-nav-buttons>

    <link href="../css/caselog.css" type="text/css" rel="stylesheet">
    <link href="../css/swipebox.css" type="text/css" rel="stylesheet">

        <div class="tabs tabs-top tabs-virtual">
            <a href class="tab-item disable-user-behavior"
               ng-class="{active: active_content=='record'}" ng-click="setActiveContent('record')">
                案件记录
            </a>
            <a href class="tab-item disable-user-behavior"
               ng-class="{active: active_content=='lawerinfo'}" ng-click="setActiveContent('lawerinfo')">
                律师信息
            </a>
            <a href class="tab-item disable-user-behavior"
               ng-class="{active: active_content=='evaluate'}" ng-click="setActiveContent('evaluate')">
                评价
            </a>
        </div>
        <ion-content has-header="true"  has-bouncing="false"  class="has-subheader" padding="true" ng-show="active_content=='record'">

            <ion-scroll zooming="true" direction="x" >
                <div id="process" class="section4" overflow-scroll="true">
                    <div ng-repeat="log in  logStates">
                        <div class="node" ng-class="{ready:log.sign==1,wait:log.sign==0}"><ul><li class="tx1">&nbsp;</li><li class="tx2">{{log.name}}</li><li  class="tx3">{{log.date}}</li></ul></div>
                        <div class="proce"  ng-class="{ready:log.sign==1,wait:log.sign==0}" ng-show="log.id!=99"><ul><li class="tx1">&nbsp;</li></ul></div>
                    </div>
                </div>
            </ion-scroll>
            <div id="wrap">
                <div id="maindata"></div>
                <div class="more" ng-click="loadAllLog()" ng-show="isShowBtn"> 展开全部...</div>
            </div>

        </ion-content>
        <ion-content has-header="true"  has-bouncing="false"  class="has-subheader" padding="true" ng-show="active_content=='lawerinfo'">
            <div class="card" style="margin:0">
                <div class="item item-body">
                <div>{{LawerInfo.realName}}<i class="ion-ribbon-a energized-bg light" ng-if="LawerInfo.certificate" style="padding: 5px;float: right;">认证律师</i></div>
                    <div>{{LawerInfo.province}} &nbsp; {{LawerInfo.city}}</div>
                    <div>{{LawerInfo.lawoffice}}</div>
                </div>
            </div>
            <div class="card">
                <div class="item item-divider">
                    <h3>专业方向</h3>
                </div>
                <div class="item item-body">
                    {{LawerInfo.majors}}
                </div>
            </div>
        </ion-content>

    <ion-content has-header="true"  has-bouncing="false"  class="has-subheader" padding="true" ng-show="active_content=='evaluate'">
        <div style="text-align:center;padding:20px;margin-top:50px;width:100%;font-size:17px;color:#666;" >
            <i class="icon ion-android-notifications-none" style="font-size:80px;color:#cccccc"></i>
            <br/><br/>案件结束后才能评价
        </div>
    </ion-content>

</ion-view>