<ion-view view-title="HONGWEI">
    <ion-content has-bouncing="true">

        <!--<link href="../lib/metro/css/metro.css" rel="stylesheet">-->
        <link href="../lib/metro/css/metro-icons.css" rel="stylesheet">

        <div class="tile-group double" style="margin: 0">
            <div class="tile-container">
                <a class="tile bg-teal fg-white" href="#/app/undowork" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-pencil"></span>
                    </div>
                    <span class="tile-label" >上传案件</span>
                </a>
                <a class="tile bg-darkGreen fg-white" href="#/app/lawcaselist/0" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-shopping-basket"></span>
                    </div>
                    <span class="tile-label">所有案件</span>
                </a>
                <a class="tile bg-cyan fg-white" href="#/app/calculator01" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-skype"></span>
                    </div>
                    <div class="tile-label">赔偿金计算</div>
                </a>
                <a class="tile bg-darkBlue fg-white" href="#/app/newslist" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-cloud"></span>
                    </div>
                    <span class="tile-label">法律新闻</span>
                </a>
            </div>
        </div>
    </ion-content>

</ion-view>