<ion-view view-title="HONGWEI-演示版">
    <ion-content has-bouncing="false">

        <!--<link href="../lib/metro/css/metro.css" rel="stylesheet">-->
        <link href="../lib/metro/css/metro-icons.css" rel="stylesheet">

        <div class="" style="margin: 0">
            <div class="row" >
                <ion-slide-box style="margin:10px 5px"  auto-play="true" slide-interval="3000"  does-continue="true"  class="ad">
                    <ion-slide style="width: 100%">
                        <div class="box blue ad" style="background-color:blue"><h1>1、宣传页</h1></div>
                    </ion-slide>
                    <ion-slide  style="width: 100%">
                        <div class="box yellow ad" style="background-color:yellow"><h1>2、宣传页</h1></div>
                    </ion-slide>
                    <ion-slide  style="width: 100%">
                        <div class="box pink ad" style="background-color:pink"><h1>3、宣传页</h1></div>
                    </ion-slide>
                </ion-slide-box>
            </div>
            <div class="row">
                <a class=" col tile bg-teal fg-white" href="#/app/undowork" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-upload"></span>
                    </div>
                    <span class="tile-label" >上传案件</span>
                </a>
                <a class="col tile bg-darkGreen fg-white" href="#/app/lawcaselist/0" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-folder"></span>
                    </div>
                    <span class="tile-label">所有案件</span>
                </a>
                </div>
            <div class="row">
                <a class="col tile bg-cyan fg-white" href="#/app/calculator01" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-calculator2"></span>
                    </div>
                    <div class="tile-label">赔偿金计算</div>
                </a>
                <a class="col tile bg-darkBlue fg-white" href="#/app/newslist" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-target"></span>
                    </div>
                    <span class="tile-label">法律新闻</span>
                </a>
            </div>
        </div>
    </ion-content>

</ion-view>