<ion-view view-title="HONGWEI">
    <ion-content has-bouncing="true">

        <!--<link href="../lib/metro/css/metro.css" rel="stylesheet">-->
        <link href="../lib/metro/css/metro-icons.css" rel="stylesheet">

        <div class="tile-group double">
            <div class="tile-container">
                <div class="tile bg-teal fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-pencil"></span>
                    </div>
                    <span class="tile-label">上传案件</span>
                </div>
                <div class="tile bg-darkGreen fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-shopping-basket"></span>
                    </div>
                    <span class="tile-label">我的案件</span>
                </div>
                <div class="tile bg-cyan fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-skype"></span>
                    </div>
                    <div class="tile-label">法律计算器</div>
                </div>
                <div class="tile bg-darkBlue fg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="icon mif-cloud"></span>
                    </div>
                    <span class="tile-label">法律新闻</span>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>