<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">留言</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="closeCommentArea()">取消</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doSendComment()">
            <div class="list">
                <label class="item item-input">
                    <div class="cmntarea">
                        <textarea id="j_cmnt_input" class="newarea" name="" placeholder="说说你的看法"></textarea>
                    </div>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">发送</button>
                </label>

            </div>
        </form>
    </ion-content>
</ion-modal-view>
