<ion-view view-title="{{navTitle}}" class="has-subheader">

    <div id="search-box" class="bar bar-subheader item-input-inset">


        <div class="col-50 item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="queryReg" type="search" placeholder="输入关键词" ng-model="keyWords"
                   ng-change="onInputSearchLC(keyWords)">

        </div>

        <div class="col-50 button-bar">

            <select class="item"  ng-model="orderType" style="border: none;margin-left: 1em;" ng-change="onChangeOrder(orderType)">
                <option selected value="0">默认排序</option>
                <!--<option value="1">发生地</option>-->
                <option value="2">关注度</option>
                <option value="3">评论数</option>
            </select>
        </div>

    </div>
    <ion-content class="has-subheader">

        <ion-list>
            <div style="text-align:center;padding:20px;margin-top:50px;width:100%;font-size:17px;color:#666;" ng-if="MyLawCase.length==0">
                <i class="icon ion-android-notifications-none" style="font-size:80px;color:#cccccc"></i>
                <br/><br/>没有案件
            </div>

            <ion-item  class="item-text-wrap"
                       ng-repeat="lc in MyLawCase" href="#/app/lawcase-details/{{lc.lcNo}}">
                    <p class="caseTitle ">
                        {{lc.name}}
                    </p>

                <p><i class=" ion-chatbox-working " style="  margin-right: 20px;">
                    {{lc.c_Comments}}
                </i><i class=" ion-star ">
                    {{lc.c_Favorites}}
                </i> <i style="float: right" class="item-note"> {{lc.stateName}}</i></p>


            </ion-item>

        </ion-list>
        <div  ng-show="display">
            <button class="button button-outline  button-block button-small" ng-click="loadLCPages()">
                加载更多...
            </button>
        </div>
    </ion-content>

</ion-view>