<ion-view view-title="解决方案">
    <ion-content class="no-padding" has-bouncing="false">
        <div class="card no-padding">
            <div class="item item-divider  calm-bg">
                <i class=" ion-clipboard"></i>
               案件详情
            </div>

            <div class="pagetitle">
                {{LawCase.name}}
            </div>


            <div class="item item-text-wrap article-text"  ng-bind-html='LawCase.describe|antialias'>
            </div>

        </div>
        <div class="card">
            <div class="item item-divider calm-bg ">
                <i class="ion-settings"></i>
                解决方案
            </div>
            <div class="item item-body">
                <ion-list>

                    <a class="item item-remove-animate  item-icon-right "  ng-class="{'link-disabled':(!LawCase.solutionNo)}" ng-href="#/app/lcFoucs/{{LawCase.solutionNo}}">
                        <i class="ion-android-locate menu-icon padding-right balanced"></i>
                        争议焦点
                        <i class="icon ion-chevron-right icon-accessory"></i>

                    </a>
                    <a class="item item-remove-animate  item-icon-right"  ng-class="{'link-disabled':(!LawCase.solutionNo)}"  ng-href="#/app/lcJudgeGist/{{LawCase.solutionNo}}">
                        <i class="ion-ios-book-outline menu-icon padding-right balanced"></i>
                        裁判要旨
                        <i class="icon ion-chevron-right icon-accessory"></i>

                    </a>

                    <a class="item item-remove-animate  item-icon-right"  ng-class="{'link-disabled':(!LawCase.solutionNo)}"
                       ng-href="#/app/lcRelatedCase/{{LawCase.solutionNo}}">
                        <i class="ion-ios-list-outline menu-icon padding-right balanced"></i>
                        相关案例
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </a>


                    <a class="item item-remove-animate  item-icon-right"  ng-class="{'link-disabled':(!LawCase.solutionNo)}"
                       ng-href="#/app/lcLegalBasis/{{LawCase.solutionNo}}">
                        <i class="ion-ios-folder-outline menu-icon padding-right balanced"></i>
                        法律依据
                        <i class="icon ion-chevron-right icon-accessory"></i>

                    </a>

                    <a class="item item-remove-animate item-icon-right"  ng-class="{'link-disabled':(!LawCase.solutionNo)}"
                       ng-href="#/app/lcMainView/{{LawCase.solutionNo}}">
                        <i class="ion-ios-chatboxes-outline menu-icon padding-right balanced "></i>
                        主流观点
                        <i class="icon ion-chevron-right icon-accessory"></i>

                    </a>

                </ion-list>

                <div class="item tabs tabs-secondary ">
                    <!--<a class="tab-item has-badge" href="javascript:void(0)" ng-click="unlikeLc()">-->
                        <!--<i class=" ion-thumbsdown assertive">-->
                            <!--{{lcFav.unlikeCount}}-->
                        <!--</i>-->
                    <!--</a>-->
                    <a class="tab-item has-badge" href="javascript:void(0)" ng-click="likeLc()">
                        <i class=" ion-thumbsup assertive ion-defaultsize">
                            {{lcFav.likeCount}}
                        </i>
                    </a>

                    <a class="tab-item has-badge" href="javascript:void(0)" ng-click="addFavorite()">
                        <i class=" ion-eye assertive ion-defaultsize">
                            {{lcFav.favCount}} <i class="small-title" ng-if="lcFav.isMyFav">您已关注</i>
                        </i>
                    </a>
                </div>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider stable-bg">   <i class="ion-chatbubble-working" style="margin-right: 5px"></i>网友留言
                <a class="youhuashuo" style="float: right; text-decoration: none" href="javascript:void(0)" ng-click="sayWords=!sayWords">我有话说</a>
            </div>

            <div class="item item-body" ng-show="sayWords">

                <div class="texteara" style="display: block;">
                    <textarea class="txtaeara" name="content" ng-model="$parent.Message" id="commentTextarea" placeholder="我来说两句"></textarea>

                    <p><input id="cancel_pl" class="ipt-cancel" ng-click="sayWords=!sayWords" type="button" value="取消">
                        <input class="ipt-go" type="button" ng-click="doSendComment()" value="发送"></p>
                </div>

            </div>

            <div class="item item-body ">
                <div class="list">

                    <div style="text-align:center;padding:0px;width:100%;font-size:17px;color:#666;border: none" ng-if="!Comments.length||Comments.length==0">
                        <i class="icon ion-android-notifications-none" style="font-size:40px;color:#cccccc"></i>
                        <br/><br/>暂无留言
                    </div>

                    <div class="item row-no-padding " ng-repeat="message in Comments">
                        <h3> {{message.c_Content}}</h3>

                        <div style="text-align: right">
                            <span>{{message.userName}}</span>&nbsp;
                            <span>{{message.time}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left" ng-show="display">
                <button class="button button-outline  button-block button-small" ng-click="loadComments()">
                    更多留言...
                </button>
            </div>
        </div>

    </ion-content>

</ion-view>