<ion-view view-title="案件详情">
    <ion-content has-bouncing="true">
        <div class="card">
            <div class="item item-divider">
               案件标题
            </div>
            <div class="item item-text-wrap">
                案件主体
            </div>

        </div>
        <div class="card">
            <div class="item item-divider">
                解决方案
            </div>
            <div class="item item-body">
                <ion-list>

                    <a class="item item-remove-animate item-avatar item-icon-right"
                      href="#/app/fy-search">
                        解决方案1
                        <i class="icon ion-chevron-right icon-accessory"></i>

                    </a>

                </ion-list>

            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">网友留言
            <a class="" style="float: right;" href="#">我有话说</a>
            </div>

            <div class="item item-body">
                <textarea cols="30" rows="5" style="border: 1px solid #000000"></textarea>
                <button class="button button-small" type="submit">取  消</button>
                <button class="button button-positive button-small  " type="submit">确  定</button>
            </div>

            <div class="item item-body ">
                <div class="list">
                    <div class="item no-padding" ng-repeat="message in messages">
                        <h3> {{message.contents}}</h3>
                        <div style="text-align: right">
                            <span>{{message.username}}</span>&nbsp;
                            <span>{{message.time}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left" ng-style="{'display':display}">
                <button class="button button-outline  button-block button-small" ng-click="getMessages()">加载更多...{{display}}</button>
            </div>
        </div>

    </ion-content>

</ion-view>