<ion-view view-title="{{navTitle}}" class="has-subheader">

    <div id="search-box" class="bar bar-subheader item-input-inset">
        <div class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="queryReg" type="search" placeholder="输入关键词" ng-model="keyWords"
                   ng-change="onInputSearchLC(keyWords)">

        </div>

        <div class="button-bar">

            <select class="item"  ng-model="orderType" style="border: none;margin-left: 1em;">
                <option selected value="0">默认排序</option>
                <option value="1">发生地</option>
                <option value="2">关注度</option>
                <option value="3">评论数</option>
            </select>
        </div>
    </div>
    <ion-content class="has-subheader">

        <ion-list>
            <ion-item
                    ng-repeat="lc in MyLawCase" href="#/app/lawcase-details/{{lc.lcNo}}">
                    <span class="caseTitle">
                        {{lc.name}}
                    </span>
                         <span class="item-note">
                          {{lc.stateName}}
                     </span>

            </ion-item>

        </ion-list>
        <div  ng-show="display">
            <button class="button button-outline  button-block button-small" ng-click="getMyLawCase()">
                加载更多...
            </button>
        </div>
    </ion-content>

</ion-view>