<ion-view view-title="争议焦点">

    <ion-content has-bouncing="false" style="padding: 0 10px;">

        <div class="card">
            <div class="item item-text-wrap">
                <p>刑事责任与民事责任是两种不同的法律责任,前者属公权力范畴,对行为人的刑事责任
                    的追究不等于对受害人精神损害的民事赔偿。《最高人民法院关于适用〈中华人民共和国刑
                    事诉讼法〉的解释》第一百三十八条第二款属于刑事犯罪中对精神损失的原则性规定,第一
                    百五十五条第三款是对因交通事故构成犯罪的特别规定,该规定明确因交通事故构成犯罪依
                    照《道路交通安全法》第七十六条的规定确定赔偿责任,七十六条明确规定发生交通事故造
                    成人身伤亡、财产损失的,由保险公司在交强险责任限额内予以赔偿。《最高人民法院关于
                    审理道路交通事故损害赔偿案件适用法律若干问题的解释》第十四条规定,《道路交通安全
                    法》第七十六规定的“人身伤亡”包括精神损害赔偿,第十六条规定,被侵权人或者近亲属
                    请求承保交强险的保险公司优先赔偿精神损害抚慰金的,人民法院应予以支持。第十九条规
                    定未依法投保交强险的机动车发生交通事故,当事人请求投保义务人在交强险责任限额内予
                    以赔偿,人民法院应予支持。因此,因交通事故构成犯罪的,受害人要求承保交强险的保险
                    公司或未投保交强险的投保义务人赔偿精神损害赔偿金,应予支持。<br>

                    <br></p>
            </div>
        </div>
    </ion-content>

</ion-view>


