<ion-view view-title="主流观点">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-more " id="home-points"
                ng-click="modal.show($event)"></button>
    </ion-nav-buttons>

    <ion-content has-bouncing="false" style="padding: 0 10px;">
        <div class="pagetitle">
            {{rcSelected.title}}
        </div>
        <hr>
        <div class=""  ng-bind-html="rcSelected.detail">

        </div>
    </ion-content>


    <script id="modallist.html" type="text/ng-template">
        <ion-popover-view style="margin-top:0;width: 50%">
            <ion-content has-bouncing="false">
                <div class="selectWrap">
                    <a class="item item-text-wrap" href="#" style="padding-bottom: 0;"  ng-repeat="rc in rcList"
                       data-id="{{rc.id}}" ng-click="clickItem(rc.id)">

                        <p class="primarytitle" ng-class="{selected:rcSelected.id==rc.id}">{{rc.title}}</p>

                    </a>

                </div>
            </ion-content>
        </ion-popover-view>
    </script>

</ion-view>


