<ion-view view-title="相关案例">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-list " id="home-points"
                ng-click="modal.show($event)"></button>
    </ion-nav-buttons>

    <ion-content has-bouncing="false" style="padding: 15px 10px;">
        <div class="pagetitle">
            {{rcSelected.title}}
        </div>
        <hr>
    <div class="article-text" ng-bind-html="rcSelected.detail">
    </div>
    </ion-content>


    <script id="modallist.html" type="text/ng-template">
        <ion-popover-view style="margin-top:0;width: 90%">
            <ion-content has-bouncing="false">
                <div class="selectWrap">
                    <a class="item item-text-wrap" href="#" style="padding-bottom: 0;" ng-repeat="rc in rcList"
                            data-id="{{rc.id}}" ng-click="clickItem(rc.id)"
                            >
                        <div class="primarytitle">
                            <i class="selected" ng-if="rcSelected.id==rc.id"></i>
                           <i> {{rc.title}}</i>
                        </div>
                        <div class="value"><i class="title">审理法院：</i>{{rc.court}}</div>
                        <div class="value ">
                            <div class=""><i class="title">审结日期：</i>{{rc.date}}</div>
                            <div class=""><i class="title">审结流程：</i>{{rc.process}}</div>
                        </div>
                        <div class="value"><i class="title">胜诉支持：</i>{{rc.isSupport?"支持":"不支持"}}</div>
                    </a>
                </div>
            </ion-content>
        </ion-popover-view>
    </script>

</ion-view>


