<ion-view view-title="登录页面">
    <ion-content class="content padding" has-bouncing="false">
        <div class="error" ng-show="formModel.error" ng-model="formModel.error">{{formModel.error}}</div>
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input item-floating-label item-md-input">
                    <span class="input-label">登录账号</span>
                    <input class="md-input" type="text" placeholder="手机号或者用户名" autocorrect="off" autocapitalize="off"
                           ng-model="formModel.uname">

                    <div class="highlight"></div>
                </label>
                <label class="item item-input item-floating-label item-md-input">
                    <span class="input-label">登录密码</span>
                    <input class="md-input" type="password" placeholder="登录密码" ng-model="formModel.pass">

                    <div class="highlight"></div>
                </label>
                <div class="item">
                <input type="submit" ng-disabled="!(formModel.pass && formModel.uname)"
                       class="button button-block button-positive view-button" value="登 录">
                    <a href="javascript:void(0);" style="text-decoration: none; font-size: 1px;" ng-click="cancleLogin()">取消登录</a>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
