<ion-side-menus enable-menu-with-back-views="false" ng-controller="AppCtrl">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive" align-title="center" no-tap-scroll="true">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="" style=" background:linear-gradient(90deg, #185a9d 10%, #43cea2 90%);">
        <!--<header class="bar bar-header bar-positive">-->
            <!--<h1 class="title">HONGWEI-APP演示版</h1>-->
        <!--</header>-->
        <ion-content has-bouncing="false"  class="has-header " style="  padding: 15px 25px;">
            <ion-list>
                    <a class="item  light"
                       ui-sref="app.catalogs"  ui-sref-active="active"  nav-clear menu-close href="#/app/catalogs" style="border: none;background: inherit" >
                        <i class="icon ion-home padding-right"></i>
                        首页</a>

                <a class="item  light"  ui-sref="app.setup"  ui-sref-active="active"
                   nav-clear menu-close href="#/app/setup" style="border: none;background: inherit" >
                    <i class="icon ion-person padding-right"></i>
                    个人中心</a>

                <a class="item  light"  ui-sref="app.lawcaselist"  ui-sref-active="active"
                   nav-clear menu-close href="#/app/lawcaselist" style="border: none;background: inherit" >
                    <i class="icon ion-ios-world-outline padding-right"></i>
                    所有案件</a>
                <a class="item  light"  ui-sref="app.upload-lawcase"  ui-sref-active="active"
                   nav-clear menu-close href="#/app/upload-lawcase" style="border: none;background: inherit" >
                    <i class="icon ion-upload padding-right"></i>
                    上传案件</a>
                <a class="item  light"  ui-sref="app.newsList"  ui-sref-active="active"
                   nav-clear menu-close href="#/app/newslist" style="border: none;background: inherit" >
                    <i class="icon ion-speakerphone padding-right"></i>
                    新闻报道</a>
                <a class="item  light"  ui-sref="app.calculator01"  ui-sref-active="active"
                   nav-clear menu-close href="#/app/calculator01" style="border: none;background: inherit" >
                    <i class="icon ion-calculator padding-right"></i>
                    赔偿金计算</a>
                <a class="item light"  ui-sref="app.legalKnowledge"  ui-sref-active="active"
                   nav-clear menu-close href="#/app/legalKnowledge" style="border: none;background: inherit" >
                    <i class="icon ion-chatboxes padding-right"></i>
                    知识问答</a>
                <a class="item  light"  ui-sref="app.websites"  ui-sref-active="active"
                   nav-clear menu-close href="#/app/websites" style="border: none;background: inherit" >
                    <i class="icon ion-navigate padding-right"></i>
                    实用导航</a>


            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>