<ion-side-menus enable-menu-with-back-views="false" ng-controller="AppCtrl">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive" align-title="center" no-tap-scroll="true">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">

        <ion-content has-bouncing="false">
            <ion-list>
                <ion-item class="item-avatar item-icon-right" nav-clear menu-close ng-click="login()">
                    <img src="img/unknow.gif">
                    <h2>张三</h2>
                    <p>会员用户</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app">
                    首页
                </ion-item>
                <ion-item  nav-clear menu-close href="#/app/lawcaselist">
                    我的案件
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>