<ion-view view-title="我的案件" class="has-subheader">

    <div id="search-box" class="bar bar-subheader item-input-inset">
        <div class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="queryReg" type="search" placeholder="输入关键词" ng-model="searchReg"
                   ng-change="doSearch(this)">

        </div>
    </div>
    <ion-content class="has-subheader">

        <ion-list>
            <ion-item
                    ng-repeat="lc in MyLawCase" href="#/app/caselog/{{lc.id}}">
                    <span class="caseTitle">
                        {{lc.LC_Name}}
                    </span>
                         <span class="item-note">
                          已结案
                     </span>

            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>