<ion-view view-title="新闻内容">
    <ion-content class="padding" has-bouncing="false" style="top: 25px;">

        <div class="list card">
            <div class="item item-body">
                <h2>{{News.title}}</h2>
                <i class="assertive small-title">
                    {{News.date}}
                </i>
                <i class="assertive small-title">
                    来自：{{News.source}}
                </i>
                <i class="ion-star assertive title " ng-click="addFavorite()" href="#" style="float: right;">
                    {{News.favCount}} <i class="small-title" ng-if="News.isMyFav">已收藏</i>
                </i>
            </div>
            <div class="item-body">
                <div ng-bind-html="News.content">

                </div>
            </div>


        </div>
        <div class="list card">
            <div class="item item-divider  positive-bg">相关阅读</div>
            <div class="item item-body ">
                <ion-list>
                    <ion-item class=" item-icon-right"
                              type="item-text-wrap" ng-repeat="news in News.reletedNews" href="#/app/newslist/{{news.id}}">
                        {{$index+1}}、{{news.title}}
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider  positive-bg">网友留言
                <a class="youhuashuo" style="float: right; text-decoration: none" href="javascript:void(0)"  ng-click="sayWords=!sayWords">我有话说</a>
            </div>

            <div class="item item-body"  ng-show="sayWords">

                <div class="texteara" style="display: block;">
                    <textarea class="txtaeara" name="content" id="commentTextarea">我来说两句</textarea>

                    <p><input id="cancel_pl" class="ipt-cancel" type="button" value="取消">
                        <input class="ipt-go" type="submit" value="发送"></p>
                </div>

            </div>

            <div class="item item-body ">
                <div class="list">
                    <div class="item row-no-padding " ng-repeat="message in Comments">
                        <h3> {{message.C_Content}}</h3>

                        <div style="text-align: right">
                            <span>{{message.username}}</span>&nbsp;
                            <span>{{message.time}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left" ng-style="{'display':display}">
                <button class="button button-outline  button-block button-small" ng-click="getMessages()">
                    加载更多...{{display}}
                </button>
            </div>
        </div>

    </ion-content>

</ion-view>
