<ion-view view-title="新闻内容">
    <ion-content class="padding" has-bouncing="false" style="top: 25px;">

        <div class="list card">
            <div class="item item-body">
                <h2>测试系统测试系统测试系统测试系统.</h2>
                <i class="assertive small-title">
                    来自：法制日报
                </i>
                <a class="ion-star assertive title " style="float: right;">
                    {{News.id}}
                </a>
            </div>
            <div class="item item-body">
                <div>
                   刚刚发生的一件事。。。a
                </div>
            </div>


        </div>
        <div class="list card">
        <div class="item item-divider">相关阅读</div>
        <div class="item item-body ">
            <div class="list">
                <div class="item no-padding" ng-repeat="comment in commentList">
                    <h3> {{comment.cnt}}</h3>
                    <div style="text-align: right">
                        <span>{{comment.date}}</span>&nbsp;
                        <span>{{comment.date}}</span>
                    </div>
                </div>
            </div>
        </div>
</div>
        <div class="list card">
            <div class="item item-divider">网友留言<i class="icon ion-email assertive small-title" style="float: right;">发表评论</i></div>
            <div class="item item-body ">
                <div class="list">
                    <div class="item no-padding">
                        <textarea placeholder="我来说两句"></textarea>
                        <div>
                            <button class="button-clear">取消</button>
                            <button class="button button-small button-assertive">发送</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="item item-body ">
                <div class="list">
                    <div class="item no-padding" ng-repeat="comment in commentList">
                        <h3> {{comment.cnt}}</h3>
                        <div style="text-align: right">
                            <span>{{comment.date}}</span>&nbsp;
                            <span>{{comment.date}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </ion-content>

</ion-view>
