<ion-view view-title="法律新闻">
    <ion-content>
        <ion-list>
            <ion-item class=" item-icon-right"
                      type="item-text-wrap"   ng-repeat="news in newsList" href="#/app/newslist/{{news.id}}">
                {{news.contents}}
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <div  ng-style="{'display':display}">
            <button class="button button-outline  button-block button-small" ng-click="getPageNews()">
                查看更多新闻...
            </button>
        </div>
    </ion-content>
</ion-view>