<ion-view view-title="律师咨询" style="background: #F9F9F9">
    <ion-content has-bouncing="false">
        <div class="list card">

            <div class="item item-body item-borderless row-no-padding cmnt_item">
                <div class="cmnt_top">
		                    <span>
                       <i class="cmnt_nick">我<em>2015-07-04 10:30:12</em>
                       </i>
	                    	</span>
                </div>

                <div class="cmnt_text">
                    股民都变成精神病好呀！这是恶性循环！这是政府欠的债！然后去危害社会发泄亏损！
                    说6月底为公务员涨新！钱都是从我们这些股民身上抽的血汗钱！不相信政府！混蛋！</div>

                <div class="cmnt_op_bottom clearfix">
		                <span class="cmnt_op">
                          <a href="javascript:void(0);" title="评论"
                             class="cmntico j_cmnt_single ion-chatbox-working button button-icon"
                             data-sudaclick="comment1_4"></a>
		                </span>
                </div>

            </div>

            <div class="item item-body item-borderless row-no-padding cmnt_item ">
                <div class="cmnt_top">
		<span>
            <i class="cmnt_nick">我<em>2015-07-01 19:10:12</em>
            </i>
		</span>
                </div>

                <div class="cmnt_base">
                    <div class="cmnt_base">
                        <div class="cmnt_top">
                       <span>
                       <i class="cmnt_nick">我<em>2015-07-04 10:30:12</em>
                       </i>
	                    	</span>

                        </div>

                        <div class="cmnt_text">
                            只许暴涨不许暴跌吗，只许做多不许做空吗，股市有风险，入市需谨慎，难道你们不知道吗。 </div>
                    </div>
                    <div class="cmnt_top">
                       <span>
                       <i class="cmnt_nick">我<em>2015-07-04 10:30:12</em>
                       </i>
	                    	</span>
                        <code>2</code>
                    </div>

                    <div class="cmnt_text">
                        你说的话是有道理，但你评论的前提是错的，现在不是暴跌，是连续三周的暴跌！你说的暴涨全年也没有几天。这就不正常了，是典型的大股灾，会演变成金融危机的，到时全国人民都倒大霉，不管炒不炒股。你是股民吗？不懂不要乱评论。 </div>
                </div>

                <div class="cmnt_text">低估你了，你就是个做空的高手！</div>

                <div class="cmnt_op_bottom clearfix">

		<span class="cmnt_op">
                          <a href="javascript:void(0);" title="评论"
                             class="cmntico j_cmnt_single ion-chatbox-working button button-icon"
                             data-sudaclick="comment1_4"></a>
		                </span>
                </div>
            </div>


        </div>
    </ion-content>
    <div class="bar bar-footer bar-balanced">

        <aside>
            <div class="foot_comment" style="">
                <div class="foot_commentcont">
                    <div class="foot_cmt_input j_cmt_btn" ng-click="opencommentArea()" data-sudaclick="comment_cmt_btn"><p>说说您的问题</p></div>
                </div>
            </div>
        </aside>

    </div>
</ion-view>