<ion-view view-title="个人中心">
    <ion-content has-bouncing="true">
        <div class="card">
            <div class="item head-img">
                <div><img class="my-img" src="img/unknow.gif"></div>
                <p  ng-if="!!User.name">{{User.realName}}
                    <i ng-if="User.type==='Lawer'" class="ion-ribbon-a" style="color:rgb(219, 186, 17);font-size: 18px;"></i>
                </p>
                <p>{{User.name}}</p>
            </div>
            <div class="item tabs tabs-secondary ">
                <a class="tab-item has-badge" href="#/app/favorites/1">
                    <i class=" ion-star">
                        收藏
                    </i>
                </a>
                <a class="tab-item has-badge" href="#/app/focus/2">
                    <i class=" ion-eye">
                        关注
                    </i>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="item item-body">
                <ion-list>
                    <a class="item item-icon-right"
                       href="#/app/lawcaselist/my">
                        <i class="menu-icon ion-ios-paper"></i>
                        我的案件
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </a>

                    <a class="item item-icon-right"
                       href="#/app/mylawlist/my">
                        <i class="menu-icon ion-stats-bars""></i>
                        案件进展
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </a>

                    <a class="item item-icon-right"
                       href="#">
                        <i class="menu-icon ion-ios-alarm"></i>
                        我的消息
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </a>
                    <a class="item item-icon-right"
                       href="#/app/help-note">
                        <i class="menu-icon ion-heart"></i>
                        申请救助
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </a>
                    <a class="item item-icon-right"
                       href="#/app/contact">
                        <i class="menu-icon ion-person-stalker"></i>
                        律透客服
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </a>
                </ion-list>

            </div>
        </div>

        <div class="card">
            <div class="item item-body">
                <ion-list>
                    <a class="item item-icon-right"
                       href="#/app/apply-certificate">
                        <i class="ion-ribbon-a menu-icon"></i>
                        律师认证
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </a>

                </ion-list>

            </div>
        </div>

        <div class="card">
            <div class="item item-body">
                <ion-list>


                    <a class="item item-icon-right"
                       href="#/app/changePassword">
                        <i class="ion-wrench menu-icon"></i>
                        修改密码
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </a>

                </ion-list>

            </div>
        </div>

        <ion-list>
            <lable class="item item-icon-right">
                <button class="button button-positive button-full" ng-show="!isLogined" type="submit" ng-click="goToLogin()">登录</button>
                <button class="button button-positive button-full" ng-show="isLogined" type="submit" ng-click="goToSignout()">注销</button>
            </lable>

        </ion-list>

    </ion-content>

</ion-view>