<ion-view view-title="实用导航">
    <ion-content has-bouncing="true">
        <div class="card wsWrap">
        <div class="row">
            <div class="col col-50"><a href="http://www.baidu.com">
            <b class="ws-content"></b>
                中国法院网
            </a></div>
            <div class="col  col-50"><a href="http://www.baidu.com">
                <b class="ws-content"></b>
                中国青年报
            </a></div>
        </div>

        <div class="row">
            <div class="col col-50"><a href="http://www.baidu.com">
                <b class="ws-content"></b>
                违章查询
            </a></div>
            <div class="col  col-50"><a href="http://www.baidu.com">
                <b class="ws-content"></b>
                凤凰新闻
            </a></div>
        </div>


        </div>

        <div class="card wsWrap">
            <div class="row">
                <div class="col col-50"><a href="http://www.baidu.com">
                    <b class="ws-content"></b>
                    百度
                </a></div>
                <div class="col  col-50"><a href="http://www.baidu.com">
                    <b class="ws-content"></b>
                    新浪
                </a></div>
            </div>

            <div class="row">
                <div class="col col-50"><a href="http://www.baidu.com">
                    <b class="ws-content"></b>
                    天猫
                </a></div>
                <div class="col  col-50"><a href="http://www.baidu.com">
                    <b class="ws-content"></b>
                    京东
                </a></div>
            </div>
        </div>
    </ion-content>

</ion-view>